# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Secrets
.env

# Editors
.vscode/
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db


/analysis/proc_pool

/analysis/fake_stamps

/synth_data

/synthes2

/cv_runs

/analysis/cv_results.json

*.pt